/* Full Page Background */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("./assets/factory2.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "Segoe UI", sans-serif;
}

/* Navbar */

.navbar-custom {
  background: rgba(0, 0, 0, 0.35);

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border-bottom: 1px solid rgba(255,255,255,0.15);

  padding: 15px 30px;
}

.navbar-brand {
  color: white !important;
  font-size: 28px;
  font-weight: bold;
}

.navbar-subtitle {
  color: #dcdcdc;
  font-size: 13px;
}

/* Main Container */

.main-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Glass Card */

.glass-card {
  background: rgba(255,255,255,0,05);

  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border: 1px solid rgba(255,255,255,0.20);

  border-radius: 25px;

  padding: 30px;

  box-shadow: 0 8px 32px rgba(0,0,0,0.35);
}

/* Heading */
.page-title {
    color: white !important;

    font-size: 48px !important;

    font-weight: 900 !important;

    text-align: center !important;

    margin-bottom: 30px !important;

    opacity: 1 !important;

    text-shadow:
        0px 0px 5px rgba(255,255,255,0.8),
        0px 0px 10px rgba(255,255,255,0.8);
}
/* Table */

.table {
  color: white !important;
}

.table th {
  background: rgba(255,255,255,0.15) !important;
  color: white !important;
}

.table td {
  background: rgba(255,255,255,0.08) !important;
  color: white !important;
}

/* Hover Effect */

.table tbody tr:hover {
  background: rgba(255,255,255,0.12);
}

/* Buttons */

.btn-primary {
  border-radius: 10px;
}

.btn-danger {
  border-radius: 10px;
}

.btn-info {
  border-radius: 10px;
}

/* Footer */

.footer-custom {
  background: rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border-top: 1px solid rgba(255,255,255,0.15);

  color: white;

  text-align: center;

  padding: 20px;

  margin-top: 100px;
}

.footer-custom h6 {
  margin: 0;
}

.footer-custom p {
  margin: 5px 0;
}